In [10]:
import pandas as pd

df = pd.read_csv('/home/pgajo/working/food/XL-WA/data/it/train.tsv', sep='\t', header=None)
sample = [el for el in df.iterrows()][0][1]
sample

0    Adding the concepts of " intermediary " and " ...
1    Aggiungere i concetti di " intermediario " e "...
2    0-0 1-1 2-2 3-3 4-4 5-5 6-6 7-7 8-8 9-9 10-10 ...
Name: 0, dtype: object

In [15]:
text_it = sample[0]
print(text_it)
text_en = sample[1]
print(text_en)
alignments = sample[2]
print(alignments)

Adding the concepts of " intermediary " and " agent " would require a precise outline of the operation of various categories of financial intermediaries and an exhaustive description of the relationship between suppliers and intermediaries or agents .
Aggiungere i concetti di " intermediario " e " agente " richiederebbe una descrizione precisa della funzione delle varie categorie di intermediari finanziari e una descrizione esauriente del rapporto fra fornitori e intermediari o agenti .
0-0 1-1 2-2 3-3 4-4 5-5 6-6 7-7 8-8 9-9 10-10 11-11 12-11 13-12 15-13 14-14 16-15 17-15 18-16 19-17 20-18 21-19 22-20 24-21 23-22 25-23 26-24 28-25 27-26 29-27 30-27 31-28 32-29 33-30 34-31 35-32 36-33 37-34 38-35

In [27]:
tuple_list = []
for el in alignments.split():
    tuple_list.append(tuple(el.split('-')))
print(tuple_list)

[('0', '0'), ('1', '1'), ('2', '2'), ('3', '3'), ('4', '4'), ('5', '5'), ('6', '6'), ('7', '7'), ('8', '8'), ('9', '9'), ('10', '10'), ('11', '11'), ('12', '11'), ('13', '12'), ('15', '13'), ('14', '14'), ('16', '15'), ('17', '15'), ('18', '16'), ('19', '17'), ('20', '18'), ('21', '19'), ('22', '20'), ('24', '21'), ('23', '22'), ('25', '23'), ('26', '24'), ('28', '25'), ('27', '26'), ('29', '27'), ('30', '27'), ('31', '28'), ('32', '29'), ('33', '30'), ('34', '31'), ('35', '32'), ('36', '33'), ('37', '34'), ('38', '35')]

In [33]:
alignment_table = []
for el in tuple_list:
    alignment_table.append([el[0], text_it.split()[int(el[0])], el[1], text_en.split()[int(el[1])]])

# turn into a dataframe without index but use the column names
df = pd.DataFrame(alignment_table, columns=['it_index', 'it_word', 'en_index', 'en_word'])
df.head()

  it_index   it_word en_index     en_word
0        0    Adding        0  Aggiungere
1        1       the        1           i
2        2  concepts        2    concetti
3        3        of        3          di
4        4         "        4           "